<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.medyog">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedYog"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TempChangePassword"
            android:exported="false" />
        <activity
            android:name=".TempBeginnerYoga"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".AccountDelete"
            android:exported="false" />
        <activity
            android:name=".AdvancedYoga"
            android:exported="false" />
        <activity
            android:name=".IntermediateYoga"
            android:exported="false" />
        <activity
            android:name=".BeginnerYoga"
            android:exported="false" />
        <activity
            android:name=".AdvancedMeditate"
            android:exported="false"
            android:label="@string/title_activity_advanced_meditate"
            android:theme="@style/Theme.MedYog.NoActionBar" />
        <activity
            android:name=".IntermediateMeditate"
            android:exported="false"
            android:label="@string/title_activity_intermediate_meditate"
            android:theme="@style/Theme.MedYog.NoActionBar" />
        <activity
            android:name=".BeginnerMeditate"
            android:exported="false"
            android:label="@string/title_activity_beginner_meditate"
            android:theme="@style/Theme.MedYog.NoActionBar" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false">

        </activity>
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>